<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test student list</title>
</head>
<body>
    <h3>Student List</h3>
    {% if students_list %}
        <table>
            <thead>
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>Age</strong></td>
            </tr>
            </thead>
            <tbody>
            {% for st in students_list %}
                <tr>
                    <td>{{ st.name }}</td>
                    <td>{{ st.age }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No student</p>
    {% endif %}
</body>
</html>