<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Welcome to Django samples home page</p>
<p>Available Applications</p>
<ul>
    <li><a href="{% url 'todo:index' %}">Todo App</a></li>
    <li><a href="{% url 'blog:main' %}">Blog App</a></li>
</ul>
</body>
</html>