doctype html
html
  head
    title Passport Sample
    style.
      .error {
        color: red;
      }
  body
    form(action="" method="post")
      div
        label(for="username") Username:
        input(type="text" name="username" id="username" autofocus)
      div
        label(for="password") Password:
        input(type="password" id="password" name="password")
      span.error #{error}
      div
        input(type="submit" value="Log In")