<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}MyBlog{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/blog/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="scripts/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css"></style><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -100px !important;
            width: 200px !important;
            border: 2px rgba(255,255,255,.38) solid !important;
            border-radius: 4px !important;
        }

        .en-markup-crop-options div div:first-of-type {
            margin-left: 0px !important;
        }

        .blog-masthead .blog-nav {
            float: left;

        }

        .blog-masthead .user-info {
            float: right;

        }

        .login-form .login-form-input {
            border: 1px solid;
            width: 100px;
            padding: 2px;
        }

        .user-info {
            padding: 10px 0;
        }

        .user-info .logged-user-info, .user-info .logged-user-info a {
            color: #ffffff;
        }

        .login-form label {
            color: white;
        }
    </style>
</head>

<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
    
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="{% url 'blog:main' %}">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
          {% if user.is_staff %}
            <a class="blog-nav-item" href="{% url 'admin:index' %}">Admin</a>
            <a class="blog-nav-item" href="{% url 'admin:blog_post_add' %}">Add post</a>
          {% endif %}
        </nav>
        <div class="user-info">
            <!--
            {% if user.is_authenticated %}
                <span class="logged-user-info">Welcome <strong><a href="#">{{ user.username }}</a></strong>&nbsp;
                <a href="{% url 'blog:django.contrib.auth.views.logout' %}?next={{request.path}}">logout</a>
                </span>
            {% else %}
                <form class="login-form" id="login-form" method="post" action="{% url 'blog:django.contrib.auth.views.login' %}?next={{request.path}}">
                    {% csrf_token %}
                    <label for="login-username">Username</label>&nbsp;
                    <input type="text" id="login-username" name="username" class="login-form-input" />
                    &nbsp;
                    <label for="login-password">Password</label>&nbsp;
                    <input type="password" id="login-password" name="password" class="login-form-input" />&nbsp;
                    <input type="submit" id="login-submit" value="Login" />
                </form>
            {% endif  %} -->

            {% if user.is_authenticated %}
                <span class="logged-user-info">Welcome <strong><a href="#">{{ user.username }}</a></strong>&nbsp;
                <a href="{% url 'blog:logout' %}?return_url={{request.path}}">logout</a>
                </span>
            {% else %}
                <form class="login-form" id="login-form" method="post" action="{% url 'blog:login' %}?return_url={{request.path}}">
                    {% csrf_token %}
                    <label for="login-username">Username</label>&nbsp;
                    <input type="text" id="login-username" name="username" class="login-form-input" />
                    &nbsp;
                    <label for="login-password">Password</label>&nbsp;
                    <input type="password" id="login-password" name="password" class="login-form-input" />&nbsp;
                    <input type="submit" id="login-submit" value="Login" />
                </form>
            {% endif  %}
        </div>
      </div>
    </div>
    
    <div id="container" class="container">
        <div class="blog-header">
            <h1 class="blog-title">The Bootstrap Blog</h1>
            <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
        </div>
        <div id="content">
            <div class="row">
                <div class="col-sm-8 blog-main">
                    {% block main-content %}{% endblock %}
                </div>

                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>About</h4>
                        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                    </div>
                    <div class="sidebar-module">
                        <h4>Archives</h4>
                        <ol class="list-unstyled">
                          <li><a href="#">March 2014</a></li>
                          <li><a href="#">February 2014</a></li>
                          <li><a href="#">January 2014</a></li>
                          <li><a href="#">December 2013</a></li>
                          <li><a href="#">November 2013</a></li>
                          <li><a href="#">October 2013</a></li>
                          <li><a href="#">September 2013</a></li>
                          <li><a href="#">August 2013</a></li>
                          <li><a href="#">July 2013</a></li>
                          <li><a href="#">June 2013</a></li>
                          <li><a href="#">May 2013</a></li>
                          <li><a href="#">April 2013</a></li>
                        </ol>
                    </div>
                    <div class="sidebar-module">
                        <h4>Elsewhere</h4>
                        <ol class="list-unstyled">
                          <li><a href="#">GitHub</a></li>
                          <li><a href="#">Twitter</a></li>
                          <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="scripts/ie10-viewport-bug-workaround.js"></script>


    <div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" title="" data-original-title="Copy to clipboard">      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">         <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1421739593665">         <param name="allowScriptAccess" value="sameDomain">         <param name="scale" value="exactfit">         <param name="loop" value="false">         <param name="menu" value="false">         <param name="quality" value="best">         <param name="bgcolor" value="#ffffff">         <param name="wmode" value="transparent">         <param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">         <embed src="/assets/flash/ZeroClipboard.swf?noCache=1421739593665" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com" scale="exactfit">                </object></div>

</body>
</html>