{% extends "blog/bbase.html" %}

{% block main-content %}
    {% if posts %}
        {% for post in posts %}
            <div class="blog-post">
                <h4 class="blog-post-title"><a href="{% url 'blog:post' post.id %}">{{ post.title }}</a></h4>
                <p class="blog-post-meta">{{ post.created }} by <a href="#">Mark</a></p>
                <p>{{ post.body|linebreaks }}</p>
            </div><!-- /.blog-post -->
        {% endfor %}
    {% endif %}

    {% if is_paginated %}
        <nav>
            <ul class="pager">
                {% if page_obj.has_previous %}
                    <li><a href= "?page={{ page_obj.previous_page_number }}">newer &lt;&lt; </a></li>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}"> &gt;&gt; older</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif  %}

{% endblock %}