{% extends "blog/bbase.html" %}

{% block main-content %}
    <div class="blog-post">
        <h4 class="blog-post-title">{{ post.title }}</h4>
        <p class="blog-post-meta">{{ post.created }} by <a href="#">Mark</a></p>
        <p>{{ post.body|linebreaks }}</p>
    </div><!-- /.blog-post -->
    <div class="comments">
        <h3>Comments</h3>
        <div class="post-comment">
            <!--form class="post-comment-form" id="post-comment-form" method="POST" action="{% url 'blog:post-comment' post.id %}">
                {% csrf_token %}
                <label class="comment-label">Your name</label>&nbsp;
                <input type="text" id="comment-author" name="comment-author" required="true" />
                <br/>
                <label class="comment-label">Message</label>&nbsp;
                <textarea cols="40" rows="5" id="comment-message" name="comment-message" required="true"></textarea>
                <button id="submit-comment">Submit</button>
            </form-->
            <form id="post-comment-form" method="post" action="{% url 'blog:post-comment' post.id %}">
                {% csrf_token %}
                Name: {{ cm_form.author }}
                <p>
                Message: {{ cm_form.message | linebreaks }}<p>
                <button id="submit-comment">Submit</button>
            </form>
        </div>

        <div class="existing-comments">
            {% if post.comment_set.all.count > 0 %}
                {% for comment in post.comment_set.all %}
                    <div class="comment-content">
                        <strong>{{ comment.author }}</strong> says<br/>
                        <span style="color: gray; font-size: 8px;">{{ comment.created }}</span><br/>
                        <span>{{ comment.message }}</span>
                    </div>
                {% endfor %}
            {% else %}
                <span>No comment yet</span>
            {% endif  %}
        </div>
    </div>
{% endblock %}