<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% if error_message %} <p><strong style="color:red">{{ error_message }}</strong></p> {% endif %}
    <div class="todo-list-container">
        <h3>Todo</h3>
        {% if todo_list %}
            {% for item in todo_list %}
                <div class="todo-item">
                    <span>{{ item.name }}</span>

                </div>
            {% endfor %}
        {% else %}
            <span>No TODO - You're completely free :)</span>
        {% endif %}

    </div>
    <div>
        <form action="{% url 'todo:create' %}" method="post">
            {% csrf_token %}
            <label for="new-task">Task</label>
            <input type="text" name="task" id="new-task" />
            <input type="submit" id="create-task" value="Create" />
        </form>
    </div>
</body>
</html>